.sixteen {
  padding-top: 80px;
  background-color: #f8f8f8; }

.sixteen__inner {
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.sixteen__col_one {
  width: 40%; }

.sixteen__col_two {
  width: 29%; }

.sixteen__col_three {
  width: 22%; }

.sixteen__logo {
  font-size: 46px;
  font-weight: 700;
  color: #ccc;
  margin-bottom: 30px; }

.sixteen__text {
  font-size: 15px;
  color: #999999;
  margin-bottom: 30px;
  line-height: 1.2; }

.sixteen__social {
  margin-bottom: 25px; }

.sixteen__social_header {
  padding-bottom: 15px;
  font-size: 14px;
  color: #333333;
  border-bottom: 1px solid #e5e5e5; }

.sixteen__social_content {
  padding-top: 15px;
  font-size: 15px;
  color: #999999;
  font-style: italic; }

.sixteen__social_header b {
  font-size: 18px; }

.sixteen__icon {
  margin-right: 3px;
  margin-left: 10px; }

.subscribe {
  width: 100%;
  max-width: 315px;
  height: 42px; }

.subscribe__input {
  font-size: 15px;
  font-style: italic;
  color: #000;
  border: 1px solid #e5e5e5;
  padding: 8px 15px 10px 15px; }

.subscribe__input:focus {
  border: 1px solid #575454; }

.subscribe__input::-webkit-input-placeholder {
  color: #ccc; }

.subscribe__input:-ms-input-placeholder {
  color: #ccc; }

.subscribe__input::-ms-input-placeholder {
  color: #ccc; }

.subscribe__input::placeholder {
  color: #ccc; }

.subscribe__button {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  background: #95e1d3;
  padding: 14px 25px 14px 25px; }

.subscribe__button:hover {
  background: #40a08e; }

.sixteen__title {
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 0; }

.blogs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.blogs__content {
  padding-left: 15px; }

.blogs__title {
  display: inline-block;
  color: #333333;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 600;
  margin-bottom: 8px; }

.blogs__date {
  color: #333333;
  font-size: 13px;
  font-style: italic; }

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.instagram__item {
  width: 33.333%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  border-top: 1px solid #fff; }

.instagram__item img {
  display: block; }
