@media (max-width: 1125px){
   .superTeam{
      flex-direction: column;
      align-items: center;
   }

   .ourTeam{
      flex-direction: column;
      align-items: center;
   }

   .marginTeamFoto{
      margin: 20px 0 20px 0;
   }
}

@media (max-width: 767px){
   .header{
      padding: 10px 0 10px 0;
   }
   .header__byrger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px; 
      position: relative;
      z-index: 3;
      
   } 


   

   .header__byrger span{
      position: absolute;
      background: #fff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
      
      
   }
   
   .header__byrger::before,
   .header__byrger::after{
      content: "";
      background: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.5s ease 0s;
   }
   .header__byrger::before{
      top: 0;
   }
   .header__byrger::after{
      bottom: 0;
   }

   .navBlok{
     /* display: none;*/ 
      position: fixed;
      top: -100%;
      right: 0;
      width: 100%;
      height: 100%;
      background: #e88382;
      transition: all 0.3s ease 0s;
   }
   
   .navBlok.active{
      top: 0;
      transition: all 0.3s ease 0s;
   }
   .header__link:after{
      content: "";
      display: none;
   }

   .six, .seven{
      display: none;
   }

   .header__list{
      flex-direction: column;
      padding: 43px 0 0 0;
      position: relative;
      left: 15px;
      
   }
   .header__link{
      margin-top: 30px;
   }

   .navFlex{
      display: block;
   }
   .header__byrger.active{
      transition: all 0.5s ease 0s;
   }



   .header__byrger.active::before{
		transform: rotate(45deg);
		top: 8.5px;
      transition: all 0.3s ease 0s;
      
	}

	.header__byrger.active::after{
		transform: rotate(-45deg);
		bottom: 8.5px;
      transition: all 0.3s ease 0s;
     
	}

	.header__byrger.active span{
     
		transform: scale(0);
		transition: all 0.3s ease 0s;

   }


   .header__link.active:active.header__byrger::before{
		transform: rotate(45deg);
		top: 8px;
		transition: all 0.3s ease 0s;
	}

	.header__link.active:active.header__byrger::after{
		transform: rotate(-45deg);
		bottom: 8px;
		transition: all 0.3s ease 0s;
	}

	.header__link.active:active.header__byrger span{
     
		transform: scale(0);
		transition: all 0.3s ease 0s;

   }

   

}
